[submodule "vendor/sparkapi"]
	path = vendor/sparkapi
	url = git://github.com/sparkapi/sparkapi4p2.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git://github.com/bobthecow/mustache.php.git
[submodule "vendor/klein"]
	path = vendor/klein
	url = git://github.com/chriso/klein.php.git
[submodule "libraries/font-awesome"]
	path = libraries/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
