.listings {
	margin: 8px 4px;
	border: 1px solid #ccc;
}
table.listings thead {
	position:static;
}

table.listings td:first-child {
	white-space: nowrap;
}

table.listings thead tr {
	background-color:#ddd;
	border-bottom: 1px solid #ccc;
}

table.listings tbody tr:hover {
	background-color: #eee;
}