	{{StandardFields.StreetNumber}}
	{{StandardFields.StreetDirPrefix}}
	{{StandardFields.StreetName}}
	{{StandardFields.StreetAdditionalInfo}}
	{{StandardFields.StreetDirSuffix}}
	{{StandardFields.StreetSuffix}}
	{{StandardFields.UnitNumber}}
	{{StandardFields.City}},
	{{StandardFields.StateOrProvince}}
	{{StandardFields.Country}}
	{{StandardFields.PostalCode}}