<tr>
	<td><a href="/listing/{{Id}}">{{StandardFields.ListingId}}</a></td>
	<td>{{StandardFields.MlsStatus}}</td>
	<td><strong>${{StandardFields.ListPrice}}</strong></td>
	<td>{{>address}}</td>
	<td>{{StandardFields.City}}</td>
	<td>{{StandardFields.StateOrProvince}}</td>
</tr>