{{! template for individual listings}}
<div class="listing">
	<h3>{{listing_name}}</h3>
	<img src="{{img_src}}" alt="{{img_alt}}"/>
	<p>MLS#: {{ListingId}}</p>
	<p>Price: {{ListPrice}}</p>
	<p>Address: {{>address}}</p>
	<p>Status: {{MlsStatus}}</p>
</div>