<!--<div>
	<strong>${{StandardFields.ListPrice}}</strong> ... <a href="/listings/{{Id}}">{{StandardFields.MLSAreaMinor}}</a>
	({{StandardFields.City}}, {{StandardFields.StateOrProvince}})
</div>-->

<tr>
	<td>{{StandardFields.ListingId}}</td>
	<td>{{StandardFields.MlsStatus}}</td>
	<td><strong>${{StandardFields.ListPrice}}</strong></td>
	<td><a href="/listings/{{Id}}">{{StandardFields.MLSAreaMinor}}</a></td>
	<td>{{StandardFields.City}}</td>
	<td>{{StandardFields.StateOrProvince}}</td>
</tr>