<div class="pagination pull-right">
	<div>
		page {{current_page}} of {{total_pages}}
	</div>
	<ul>
		<li class="prev disabled"><a href="#page/previous">&larr; previous</a></li>
		<li class="next"><a href="#page/next">next &rarr;</a></li>
	</ul>
</div>