<style>
	label, input {margin: 4px;}
</style>
<form method="POST" action="/" style="background-color:transparent" class="pull-right">
	<div>
		<label for="min">min list price:</label>
		&nbsp;$<input type="text" id="min" name="min" value="80,000"/>
		<small>(USD)</small>
	</div>
	<div>
		<label for="max">max list price:</label>
		&nbsp;$<input type="text" id="max" name="max" value="200,000"/>
		<small>(USD)</small>
	</div>
	<input type="submit" class="pull-right" style="margin-right:40px" value="Find!"/>
</form>